/TLaziFrames/GuideFrame/backup
/TLaziFrames/GuideFrame/*.exe
/TLaziFrames/GuideFrame/lib/i386-win32
/MagicPoint/*.o
/MagicPoint/*.ppu
/MagicPoint/*.compiled
/MagicPoint/*.or
/MagicPoint/*.a
/MagicPoint/proba/TListView_full/*.a
/MagicPoint/proba/TListView_full/*.compiled
