/TLaziFrames/GuideFrame/backup
/TLaziFrames/GuideFrame/*.exe
/TLaziFrames/GuideFrame/lib/i386-win32
/MagicPoint/*.o
/MagicPoint/*.ppu
/MagicPoint/*.compiled
/MagicPoint/*.or
/MagicPoint/*.a
/MagicPoint/proba/TListView_full/*.a
/MagicPoint/proba/TListView_full/*.compiled
/MagicPoint/out
/MagicPoint/lib/i386-win32
/MagicPoint/backup
/MagicPoint/TListView/lib/i386-win32
/MagicPoint/TListView/backup
/MagicPoint/TListView.old
/TLaziTools/TLoger/lib/i386-win32
/TLaziTools/TLoger/backup
/TLaziTools/TLoger/ViewLoger.exe
/MagicPoint/LogStream.txt
/MagicPoint/MagicPoint.exe
/LaziWinCE/lib/i386-win32
/LaziWinCE/fil
/LaziWinCE/backup
/LaziWinCE/LaziWin32.exe
/LaziStrings/out
/LaziStrings/lib/i386-win32
/LaziStrings/backup
/LaziStrings/LaziStrings32.exe
/SirSerge/lib/i386-win32
/SirSerge/backup
/SirSerge/SirSerge.exe
/*.exe
/lib/i386-win32
/backup
